body{
  font-family:Verdana;
  font-size:12px;
}
h1{
  font-size:1.75rem;
}  
.section{
  position:relative;
  background:#aaa;
  border:1px solid black; 
  padding:10px;
  margin:20px;
  box-sizing:border-box;
}
.title{
  position:absolute;
  top:0px;
  right:0px;  
  font-size:1.25rem;
  border:1px solid black; 
  padding:5px;
}
.title:nth-type(1){
  background-color:red;
  color:white;
}
.title:nth-type(2){
  background-color:white;
  color:red;
}
.title:nth-type(3){
  background-color:blue;
  color:white;
}

@media only screen and (min-width:992px){
  
  
}
@media only screen and (min-width:768px) and (max-width:991px){
  
  
}
@media only screen and (max-width:767px){
  
  
}
